img {
    width: 200;
    height: 200;
  }
  #scoreCon {
    height: 300px;
    background-color: black;
  }

#titlebox {
  width: 200px;
  /* Visual */
  background: black;
}
body {
  background: black
}

