img {
    width: 200;
    height: 200;
  }
  #scoreCon {
    height: 300px;
    background-color: black;
  }

#titlebox {
  width: 300px;
  /* Visual */
  background: green;
}
#instructions {
background: blue;

}

